.navbar{
    background-color: #1b1f23;
    padding-bottom: 0 !important;
    box-shadow: 0px 0px 3px 0px #000000;
}

.dropdown-menu {
    background-color: #000000 !important;
}

.btn:hover {
    color: #1da370 !important;
}

.dropdown-item {
    color: #fff !important;
}

.dropdown-divider{
    border-top: 1px solid rgba(255, 255, 255, 0.178) !important;
}

.navbar .main-logo {
    width: 100px;
    margin: 0 30px;
}

.navbar-nav{
    margin-top: 5px;
    align-items: center;
}

.navbar .nav-item {
    margin: 0 10px;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.dropdown-item.active{
    background-color: #dcdee0 !important;
}

.navbar .nav-item a.active {
    color: var(--fistudy-base);
    border-bottom: 1px dashed;
}

.header-button{
    margin: 0 30px;
}