.navbar{
    background-color: #00000052 !important;
    padding-bottom: 0 !important;
}

.navbar .main-logo {
    width: 100px;
    margin: 0 30px;
}

.navbar-nav{
    margin-top: 5px;
}

.navbar .nav-item {
    margin: 0 10px;
}

.navbar .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.navbar .nav-item a.active {
    color: var(--fistudy-base);
    border-bottom: 1px dashed;
}

.header-button{
    margin: 0 30px;
}