body,
.section-title__title span{
    font-family: "Noto Kufi Arabic" !important;
}

.main-header, .navbar,
.share-modal,
.modal-header,
.login-form, .register,
.profile-sidebar,
.form {
    direction: rtl;
}


.breadcrumb-wrapper .container,
.blog-row,
.profile-container,
.blog-details .row,
.blog-details .blog-details__client-and-meta,
.blog-details .blog-details__client-box,
.blog-details .sidebar__title-box,
.blog-details .sidebar__post-list>li,
.sidebar__post-meta p,
.banner-one__student-trained-count-box-inner,
.dropdown-toggle,
.profile-header,
.profile-photo-box,
.comment-modal .comment-card
 {
    flex-direction: row-reverse;
    text-align: right;
}

.blog-grid__list-text, .comment-card,
.comment-creater,
.comment-pic,
.im,
.blogs-one__ratting-and-heart-box,
.member-since{
    display: flex;
    flex-direction: row-reverse;
}

.dropdown-item{
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

.section-title__title span img{
    right: auto;
    left: 6px;
}

.input-group{
    right: auto !important;
    left: 31px;
}

    
.profile-sidebar .badge{
    top: 8px !important;
    right: auto !important;
    left: -15px;
}

.why-choose-one__right .section-title
{
    margin-right: 0 !important;
}

.blog-two__title{
    text-align: right;
}

.banner-one__udemy-review
{
    max-width: 193px !important;
}

.banner-one__student-trained-list{
    flex-direction: row !important;
}

.offcanvas-end{
    left: 0;
    right: auto;
    direction: rtl;
}

.blog-details__left {
    margin-left: 107px;
    margin-right: 0 !important;
}

.comment-modal .fa-close-btn {
    right: auto !important;
    left: 20px !important;
}

.comment-textarea{
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-left: 2px;
}

.comment-btn-container{
    right: auto !important;
    left: 10px;
}

.emoji-picker-container{
    left: auto !important;
    right: 10px;
}

.comment-a{
    margin-right: 30px;
}

.navbar-nav .fas,
.theme-toggle-label,
.blog-grid__list-check,
.timestamp,
.user-image{
    margin-right: 8px;
    margin-left: 8px;
}

.comment-creater{
    margin-top: 7px;
}

.emoji-panel{
    left: -210px;
}

.register-btn{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.about-top{
    flex-direction: row-reverse;
  }

.about-top .main-heading{
 text-align: right;
 padding-right: 20px;
 position: relative;
}

.about-top .cv-btn{
    position: absolute;
    right: 18px;
    top: 219px;
}

.nice-select:after{
right: auto !important;
left: 17px !important;
}

.nice-select .option{
    text-align: right !important;
}

.form-check{
    display: flex !important;
}

.remember-me{
    margin-right: 28px;
}

.contact-controller{
    direction: rtl;
}

.contact-controller .grid, p{
    text-align: right;
}

.social-profiles, .skills-heading{
    text-align: right;
}
.social-profiles .top{
    flex-direction: row-reverse !important;
}

.social-profiles .profile-photo{
    display: flex;
    justify-content: flex-end;
    padding-right: 13px;
}

.heading-row2{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: bold;
}


.main-menu__contact-list li+li{
    margin-right: 46px;
}


.main-menu__contact-list li::before {
    content: "";
   display: none;
}

.main-menu__contact-list li:after {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    right: -23px;
    width: 1px;
    background-color: rgba(var(--fistudy-white-rgb), .30);
}

.icon-contact:before, .icon-email:before, .icon-location:before{
    padding-left: 10px;

}

.main-banner{
    flex-direction: row-reverse !important;
}

.main-banner .col-xl-6{

    text-align: right !important;
}

.main-banner .banner-one__thm-and-other-btn-box{
    justify-content: flex-end !important;
}

.current{
    float: right;
}
.Features{
    float: left !important;
}

.banner-one__category-select-box .select-box .nice-select:after{
    right: auto !important;
    left: 30px !important;
}

.course-list__showing-sort .select-box .nice-select:after {
    right: auto !important;
    left: 0px !important;
}

.page-header__img{
    right: auto !important;
    left: 0px !important;
}

.page-header__shape-5, .page-header__shape-4{
    left: auto;
    right: 110px;
}

.page-header__social{
    left: auto;
    right: -159px;
}

.about-rtl .about-one__icon-and-title, .live-class-one__class-time{
    justify-content: flex-end;
}

.about-rtl{
    text-align: right;
}

.testimonial-one__single, 
.live-class-row,
.site-footer__logo-and-contact-box-inner,
.footer-row,
.site-footer__contact-info-icon,
.site-footer__links-list li a,
.site-footer__bottom-inner,
.about-one__experience-box-inner,
.about-one__awards-count-box,
.page-header__inner,
.courses-row,
.list-unstyled,
.contact-form,
input,
textarea{
    flex-direction: row-reverse;
    text-align: right;
}

.blogs-one__single, .blog-one__single, .why-choose-us, .nice-select .option{
    text-align: right;
}

.blogs-one__tag-and-meta,
.blogs-one__btn-and-doller-box,
.blog-one__meta,
.blog-grid__list-item li {
    flex-direction: row-reverse;
}

.why-choose-one__right .section-title {
    margin-right: 0;
}

.reviews-title, .courses-two__single{
    direction: rtl;
}

.pg-pagination {
    text-align: left;
}

.banner-one__title-clr-1, .banner-one__title-clr-2{
    font-family: "Noto Kufi Arabic" !important;
}

.banner-one__title-box-shape
 {
    left: auto;
    right: 0;
}

.about-top .main-heading h3{
    margin-top: 18px;
}

.about-top .main-heading .organization{
    display: inline-block;
    margin-top: 8px;
}


.material-card .mc-description{
    text-align: right;
}

.about-top .cv-btn{
    top: auto !important;
    bottom: -15px !important;
}

.accordion{
    direction: rtl;
}

.accordion-button::after{
    margin-left: 10px !important;
    margin-right: auto !important;
}

@media screen and (max-width: 1000px) {
    .main-header .menu{
        padding-right: 30px !important;
    }
}

@media screen and (max-width: 700px) {
    
    .about-top .main-heading .heading-row2{
        display: inline-block;
        margin-top: 0 !important;
    }
    
    .about-top .main-heading h3{
        margin-top: 0 !important;
    }
    
    .about-top .photo-slider{
        margin-top: 20px;
    }

    .about-top .cv-btn{
        margin: 17px auto !important;
        position: unset;
    }

    .offcanvas-close{
        right: auto !important;
        left: 18px !important;
    }
}